body {
  background-color: #DCAB6B;
}

nav {
  list-style-type: none;
  background-color: #FFFFB3;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  
}
li {
  float: left;
}

li a {
  display: block;
  color: #6E0D25;
  text-decoration: none;
  padding: 15px 50px;
}
li a:hover {
  background-color: gray;
}
h1 {
  color: #6E0D25;
  font-size: 50px;
  letter-spacing: 5px;
}

#borderimg2 {
  border: 15px solid;
  padding: 15px;
  border-image: url(https://thumbs.dreamstime.com/b/dark-giraffe-animal-print-vector-pattern-dark-giraffe-animal-print-texture-seamless-vector-pattern-brown-tiles-yellow-140928892.jpg) 20% round;
} 

h3 {
  color: pink 
}

p3 {
  color: #6A381F;
  font-size: 20px
}

p {
  color: #FFFFB3;
  font-size: 25px
}

table, th, td {
  border: 1px solid black;
}

h2 {
  color: #6E0D25;
  font-size: 30px
}

ol {
  color: #6A381F;
  font-size: 18px
}

#t01 {
  color: #6A381F;
  width: 100%;    
  background-color: #f1f1c1;
  text-align: center
}

pt01 {
  color: #6E0D25;
  font-size: 30px;
  font-weight: bold; 
}

